*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.container-center{
    width: 170vh;
    height: 78vh;
    display: flex;
    border-radius: 30px;
    margin: 32px;
    background: #CAEBF6;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.10);
}
.heading-text{
    flex-shrink: 0;
    color: #000;
    font-style: normal;
    line-height: normal;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    padding-top:25px;
    padding-bottom: 32px;
    padding-left: 250px;
}
.sub-heading-text{
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
    padding-right: 35px;
}
.sub-sub-heading-text{
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
    padding-right: 35px;    
}
.circle{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    box-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 9999px
}
.color-stack{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.color-stack .circle{
    margin: 11.3px 5px;
}
.color-category{
    display: flex;
}