.header-text{
    width: 873px;
    height: 125px;
    flex-shrink: 0;
    color: #000;
    font-family: Nunito;
    font-size: 86px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header-text-bold{
    color: #000;
    font-family: Nunito;
    font-size: 86px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.paragraph{
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.paragraph-bold{
    color: #000;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.image-container{
    width: 429px;
    height: 405px;
    flex-shrink: 0;    
}
.blue-rectangle{
    width: 589px;
    height: 1117px;
    flex-shrink: 0;
}